.signin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.side-image {
  width: 120px;
  height: auto;
  margin-left: -20px; /* Lùi hình mèo về bên trái */
}

.form-container {
  flex: 2;
  max-width: 500px; /* Tăng kích thước của form */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  color: #8b4d02; /* Màu chữ */
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-title {
  font-size: 24px; /* Tăng kích thước chữ cho tiêu đề form */
  font-weight: bold;
  color: #8b4d02; /* Đổi màu chữ */
  margin: 20px 0 10px; /* Lùi xuống bằng margin */
  text-align: center;
}

.form-container p {
  text-align: center;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #8b4d02;
  border-color: #8b4d02;
  color: white;
  width: 100%;
}

.submit-button:hover {
  background-color: #6d3c02;
  border-color: #6d3c02;
}
